.declaration-order{
    /* Positioning */
    position: absolute;
    top: 0;
    left: 0;

    /* Box Model */
    display: block;
    width: 200px;
    height: 200px;

    /* Typography */
    font: normal 13px "Helvetica Neue", sans-serif;
    text-align: center;

    /* Visual */
    background-color: #f5f5f5;
    border: 1px solid #1a74e5;
    color: #1a74e5;

    /* Misc */
    opacity: 1;
}

/* Always place media queries as close to their relevant rule sets whenever possible. */
.element { ... }
.element-avatar { ... }
.element-selected { ... }

@media (min-width: 780px) { 
    .element { ... }
    .element-avatar { ... }
    .element-selected { ... }
}